html, body {
    margin: 0;
    padding: 0;
}

#header {
    border-bottom: solid 3px;
}

#webcarbon_managment_header_account {
    margin: 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#webcarbon_header_account {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;
}

body {

    background-color: white;
    font-family: Verdana, sans-serif;
    font-size: 100%;
}

img {
    float: left;
    width: 32px;
    height: auto;
}

#logout {
    width: 40px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
}

#mypictureAcount {
    width: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
}

.logo {
    margin: 0 1em;
    padding: 1em;
    width: 50px;
    height: auto;
}

#myAcount {
    margin: 5px;
    color: white;
    background: #72d760;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}

#myAcount:hover {
    margin: 5px;
    background: #34d218;
    border: 0 none;
    cursor: pointer;
    border-radius: 5px;
}

#connexion {
    background-color: #72d760;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#connexion:hover {
    background-color: #34d218;
}

.copyright{
    text-align: center;
    color: white;
}