
html, body {
    height: 100%;
    background: linear-gradient(#ffffff, #bfdeba);
    margin: 0;
    padding: 0;
}

body {
    vertical-align: middle;
    background-color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
}

.myFooter {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 7%;
    margin: auto;
    background: #272727;
    padding: 10px 0;

}

.myFooterNav {
    width: 100%;
    height: 7%;
    margin: 10px auto auto;
}

.myFooterNav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}


.myFooterNav ul li {
    display: inline-block;
    margin: auto 20px;
}

.myFooterNav ul li a {
    text-decoration: none;
    outline: none;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.myFooterNav ul li a:hover {
    color: #72d760;
}


@media (max-width: 691px ) {
    .myFooterNav ul li a {
        font-size: 13px;
    }
}

@media (max-width: 604px ) {

    .myFooterNav ul li {
        padding: 0;
    }
}

@media (max-width: 559px ) {

    .myFooterNav ul li a {
        font-size: 10px;
    }

}

@media (max-width: 539px ) {

    .myFooterNav ul li {
        margin: 5px 20px;
    }

    .myFooterNav ul li.p1 {
        padding-top: 10px;
    }
}

@media (max-width: 380px ) {
    .myFooterNav ul li {
        display: block;
        padding: 5px;
    }

}

@media (max-width: 375px) {
    .myFooterNav ul li.p1 {
        padding-top: 0;
    }
}

#errorBlock {
    height: 100%;
    width: 100%;
    display: table;
}

#errorMessageBlock {
    text-align: center;
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

table {
    margin: 0 auto;
}

#errorMessage {
    margin-right: 5em;
    margin-left: 5em;
    text-align: center;
    margin-bottom: 16px;
}

img {
    width: 96px;
    height: 96px;
}

#errorMessageNumber {
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 300%;
}

.action_buttons > td {
    padding-bottom: 5em;
}

.wrapper:hover {
    background-color: #34d218;
}


.wrapper {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    align-items: center;
}

.wrapper {
    background-color: #72d760;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5em;
    height: 100%;
    font-size: 1.5em;
    cursor: pointer;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

#backToMainPage{
    left:0;
}

#contactUs{
    right:0;
}