
html, body {
    height: 92%;
    background: linear-gradient(#ffffff, #bfdeba);
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
}

h1 {
    margin-top: 1.5em;
    font-size: 320%;
    color: #72d760;
    text-align: center;
    font-family: serif;
    text-shadow: 3px 2px #000;
}

h2 {
    font-size: 150%;
    align-content: center;
    color: black;
}

p, ul, li, td {
    color: black;
}

a:link {
    color: green;
}

a:visited {
    color: gray;
}



img {
    width: 32px;
    height: auto;
}


.myFooter {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 7%;
    margin: auto;
    background: #272727;
    padding: 10px 0;

}

.myFooterNav {
    width: 100%;
    height: 7%;
    margin: 10px auto auto;
}

.myFooterNav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}


.myFooterNav ul li {
    display: inline-block;
    margin: auto 20px;
}

.myFooterNav ul li a {
    text-decoration: none;
    outline: none;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.myFooterNav ul li a:hover {
    color: #72d760;
}


@media (max-width: 691px ) {
    .myFooterNav ul li a {
        font-size: 13px;
    }
}

@media (max-width: 604px ) {

    .myFooterNav ul li {
        padding: 0;
    }
}

@media (max-width: 559px ) {

    .myFooterNav ul li a {
        font-size: 10px;
    }

}

@media (max-width: 539px ) {

    .myFooterNav ul li {
        margin: 5px 20px;
    }

    .myFooterNav ul li.p1 {
        padding-top: 10px;
    }
}

@media (max-width: 380px ) {
    .myFooterNav ul li {
        display: block;
        padding: 5px;
    }

}

@media (max-width: 375px) {
    .myFooterNav ul li.p1 {
        padding-top: 0;
    }
}

.div_btn {
    height: 50px;
}

.wrapper {
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    align-items: center;
}

.wrapper {
    background-color: #72d760;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5em;
    width: 40%;
    height: 100%;
    font-size: 1.5em;
    cursor: pointer;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/* When moving the mouse over the submit button, add a darker green color */
.wrapper:hover {
    background-color: #34d218;
}

#carbon_calculator_box {
    margin-right: 5em;
    margin-left: 5em;
}

.name li {
    list-style-type: "\1F44D";
}

p {
    line-height: 10px;
}

#center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}