html, body {
    height: 92%;
    background: linear-gradient(#ffffff, #bfdeba);
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
}


h2 {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

p, ul, li, td {
    color: black;
}

a:link {
    color: green;
    text-decoration: underline;
}

a:visited {
    color: gray;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:active, a:focus {
    color: red;
}

img {
    width: 32px;
    height: auto;
}

.myFooter {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 7%;
    margin: auto;
    background: #272727;
    padding: 10px 0;

}

.myFooterNav {
    width: 100%;
    height: 7%;
    margin: 10px auto auto;
}

.myFooterNav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}


.myFooterNav ul li {
    display: inline-block;
    margin: auto 20px;
}


.myFooterNav ul li {
    display: inline-block;
    margin: 10px 20px;
}

.myFooterNav ul li a {
    text-decoration: none;
    outline: none;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.myFooterNav ul li a:hover {
    color: #72d760;
}


@media (max-width: 691px ) {
    .myFooterNav ul li a {
        font-size: 13px;
    }
}

@media (max-width: 604px ) {

    .myFooterNav ul li {
        padding: 0;
    }
}

@media (max-width: 559px ) {

    .myFooterNav ul li a {
        font-size: 10px;
    }

}

@media (max-width: 539px ) {

    .myFooterNav ul li {
        margin: 5px 20px;
    }

    .myFooterNav ul li.p1 {
        padding-top: 10px;
    }
}

@media (max-width: 380px ) {
    .myFooterNav ul li {
        display: block;
        padding: 5px;
    }

}

@media (max-width: 375px) {
    .myFooterNav ul li.p1 {
        padding-top: 0;
    }
}

label {
    display: flex;
    flex-direction: row;

}

#EquipmentListDiv {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid;
}

#EquipmentListDiv:nth-child(1){
    text-align: center;
    color: red;
}