html, body {
    height: 92%;
    background: linear-gradient(#ffffff, #bfdeba);
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
}

h2 {
    text-align: center;
    font-size: 150%;
    align-content: center;
    color: black;
}

p, ul, li, td {
    color: black;
}

.carbon_calculator_back_button {
    border-radius: 10px;
    background: #72d760;
    color: white;
    margin-left: 3em;
    margin-top: 1em;
    font-size: small;
}

#TotalFootPrint{
    display: flex;
}

.carbon_list_header{
    display: flex;
}

a:link {
    color: green;
    text-decoration: underline;
}

a:visited {
    color: gray;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:active, a:focus {
    color: red;
}


.myFooter {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: auto;
    margin: auto;
    background: #272727;
    padding: 10px 0;

}

.myFooter {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 7%;
    margin: auto;
    background: #272727;
    padding: 10px 0;

}

.myFooterNav {
    width: 100%;
    height: 7%;
    margin: 10px auto auto;
}

.myFooterNav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}


.myFooterNav ul li {
    display: inline-block;
    margin: auto 20px;
}


.myFooterNav ul li a {
    text-decoration: none;
    outline: none;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.myFooterNav ul li a:hover {
    color: #72d760;
}


@media (max-width: 691px ) {
    .myFooterNav ul li a {
        font-size: 13px;
    }
}

@media (max-width: 604px ) {

    .myFooterNav ul li {
        padding: 0;
    }
}

@media (max-width: 559px ) {

    .myFooterNav ul li a {
        font-size: 10px;
    }

}

@media (max-width: 539px ) {

    .myFooterNav ul li {
        margin: 5px 20px;
    }

    .myFooterNav ul li.p1 {
        padding-top: 10px;
    }
}

@media (max-width: 380px ) {
    .myFooterNav ul li {
        display: block;
        padding: 5px;
    }

}

@media (max-width: 375px) {
    .myFooterNav ul li.p1 {
        padding-top: 0;
    }
}

#profile_box {
    background: #d5d5d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
    margin: 1em 2em 2em;
    border-radius: 10px;
}

.info {
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0px;

}

.info td {
    padding: 2px; /* équivalent cellpadding */
    width: 50%;
    overflow: auto;

}

.modify {
    text-align: right;
    vertical-align: center;
}

.btnsModifAndDelete {
    background-color: #e1e1e1;
    color: black;
    border-radius: 15px;
    margin-top: 4%;
    margin-bottom: 1%;
    width: 30%;
}

.tdGraph {
    padding-right: 100px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#graphePicture {
    width: auto;
    min-width: 20%;
    max-width: 50%;
    height: 100%;
    margin-top: 25px;
}

#carbon_calculator_white_box {
    margin-right: 10px;
}

#delete {
    background: #fd0101;
    color: white;
    border-radius: 30px;
}

#editProfil {
    background: #ffffff;
    color: #000000;
    border-radius: 30px;
}

#delete:hover {
    background: #ff0000;
}

#carbon_calculator_lists {
    display: flex;
    justify-content: space-between;
    margin-right: 2%;
    margin-left: 2%;
    max-height: 27%;
}

#ListsEquipements {
    background: #d5d5d5;
    border-radius: 10px;
    width: 58%;
    max-height: 280px;
    overflow-y: auto;

}

#ListsSimu {
    background: #d5d5d5;
    border-radius: 10px;
    width: 35%;
    max-height: 280px;
    overflow-y: auto;

}

.list_ {
    table-layout: fixed;
    background: #c5c5c5;
    padding-left: 1em;
    padding-right: 1em;
    margin: 1em;
    border-radius: 10px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-collapse: collapse;
}

tbody {
    overflow-y: auto;
}

tbody::-webkit-scrollbar {
    width: 12px;
}

tbody::-webkit-scrollbar-track {
    background: #c0bebe; /* color of the tracking area */
}

tbody::-webkit-scrollbar-thumb {
    background-color: #85ec73; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #c0bebe; /* creates padding around scroll thumb */
}


.id_Profile_Simu {
    width: 50%
}

.quantity {
    width: 70%
}

.btnsModifAndDelete {
    display: flex;
    flex-direction: row;
}

.modifyBtn {
    margin-top: 5px;
    border-radius: 10px;
}

.carbon_calculator_table_header {
    font-size: 130%;
    padding-bottom: 7px;
}

.carbon_input_image {
    border: 1px solid #000000;
    display: block;
    margin: 5px 3px;
    width: 1vw;
}

.nomUser {
    font-size: 120%;
}

#modifSupp {
    width: 20%;
    display: flex;
    justify-content: space-between;
}

table {
    border-collapse: collapse;
}

.line {
    border-bottom: solid 2px #125008;
}

.btnAdd {
    margin-top: 5px;
}