html, body {
    height: 92%;
    background: linear-gradient(#ffffff, #bfdeba);
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Verdana, sans-serif;
    font-size: 100%;
}


h2 {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

p, ul, li, td {
    color: black;
}

a:link {
    color: green;
    text-decoration: underline;
}

a:visited {
    color: gray;
}

a:hover {
    color: red;
    text-decoration: none;
}

a:active, a:focus {
    color: red;
}

img {
    width: 32px;
    height: auto;
}

.myFooter {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 7%;
    margin: auto;
    background: #272727;
    padding: 10px 0;

}

.myFooterNav {
    width: 100%;
    height: 7%;
    margin: 10px auto auto;
}

.myFooterNav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}


.myFooterNav ul li {
    display: inline-block;
    margin: auto 20px;
}


.myFooterNav ul li a {
    text-decoration: none;
    outline: none;
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.myFooterNav ul li a:hover {
    color: #72d760;
}


@media (max-width: 691px ) {
    .myFooterNav ul li a {
        font-size: 13px;
    }
}

@media (max-width: 604px ) {

    .myFooterNav ul li {
        padding: 0;
    }
}

@media (max-width: 559px ) {

    .myFooterNav ul li a {
        font-size: 10px;
    }

}

@media (max-width: 539px ) {

    .myFooterNav ul li {
        margin: 5px 20px;
    }

    .myFooterNav ul li.p1 {
        padding-top: 10px;
    }
}

@media (max-width: 380px ) {
    .myFooterNav ul li {
        display: block;
        padding: 5px;
    }

}

@media (max-width: 375px) {
    .myFooterNav ul li.p1 {
        padding-top: 0;
    }
}

#registration_box {
    width: 50%;
    height: 95%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#connexionForm {
    width: 100%;
    padding: 10px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: #72d760;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: #34d218;
    color: #ffffff;
}

.nomPrenom {
    display: flex;
    justify-content: start;
}

.dateProPhoto {
    display: flex;
    justify-content: space-around;
}

.dateProPhoto p {
    width: 33%;
    text-align: center;
}

.name {
    width: 100%;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 4px;
}

.lien {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin-top: 1em;
    font: inherit;
    color: #72d760;
    width: 1em;
    height: 1em;
    border: 0.15em solid #72d760;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

#birth_date {
    margin-top: 1em;
}

#sinscrire {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    font-size: small;
    text-decoration: none;
}


.cc-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.profile1 {
    background-image: url('../images/profile/1.png');
}

.profile2 {
    background-image: url('../images/profile/2.png');
}

.profile3 {
    background-image: url('../images/profile/3.png');
}

.profile4 {
    background-image: url('../images/profile/4.png');
}

.profile5 {
    background-image: url('../images/profile/5.png');
}

.profile6 {
    background-image: url('../images/profile/6.png');
}

.profile7 {
    background-image: url('../images/profile/7.png');
}

.profile8 {
    background-image: url('../images/profile/8.png');
}

.profile9 {
    background-image: url('../images/profile/9.png');
}

.cc-selector input:active + .profile {
    opacity: .9;
}

.cc-selector input:checked + .profile {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.profile {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}

.profile:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}
.pictureSelector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.incorect{
    color: red;
    font-size: small;
}

#modifPro{
    margin-top: 25px;
    margin-left: 100px;
    width: 40%;
}
.required{
    font-size: x-small;
    display: inline;
}
.asterix{
    color: red;
    font-size: x-small;
    display: inline;
}


